<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <style>
        a {display: block; width: 100px; height: 100px; border-radius: 5px; border: 1px solid #000;}
    </style>
</head>
<body>
<div class="center_box">
    <div class="semi_title">
        <p><span>아이디123</span> 님의 최근 본 상품</p>
    </div>
    <div class="his_contents">
        <div class="contents">
            <a href=""><img src="" alt=""></a>
            <div class="right">
                <p>상품명 에베베</p>
                <p>가격 : <span>50,000</span>원</p>
            </div>
            <button type="button" class="del_btn">
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="contents">
            <a href=""><img src="" alt=""></a>
            <div class="right">
                <p>상품명 에베베</p>
                <p>가격 : <span>50,000</span>원</p>
            </div>
            <button type="button" class="del_btn">
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</body>
</html>