<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar sticky-top" th:fragment="headerNavbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../../../../../../../../Users/it/Desktop/team_shop/image/svg/list.svg" width="40" height="40" class="d-inline-block ms-2" alt="">
            <img src="../../../../../../../../Users/it/Desktop/team_shop/image/picture/logo.png" height="40" class="d-inline-block ms-2" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img src="../../../../../../../../Users/it/Desktop/team_shop/image/svg/mypage.svg" width="30" height="30" class="d-inline-block me-3" alt="">
            <img src="../../../../../../../../Users/it/Desktop/team_shop/image/svg/cart.svg" width="40" height="40" class="d-inline-block me-3" alt="">
            <img src="../../../../../../../../Users/it/Desktop/team_shop/image/svg/search.svg" width="38" height="38" class="d-inline-block" alt="">
        </a>
    </div>
</nav>

</body>
</html>
    
    