<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <form action="" method="post">
    <div class="big_box">
      <div class="left">
        <div class="file_up_con main_product">
          <div class="product_ad_title">
            <h2>등록 상품 이미지</h2>
            <button type="button" class="product_ad_btn">파일 업로드</button>
          </div>
          <div class="product_ad_img_list">
            <input type="text" name="" value="asdasdasdasd.png" readonly>
            <button type="button" class="deldel">삭제</button>
          </div>
        </div>
        <div class="file_up_con sub_product">
          <div class="product_ad_title">
            <h2>연관 상품 이미지</h2>
            <button type="button" class="product_ad_btn">파일 업로드</button>
          </div>
          <div class="product_ad_img_list">
            <input type="text" name="" value="asdasdasdasd.png" readonly>
            <button type="button" class="deldel">삭제</button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="thumb_img">
          <img src="" alt="">
          <button type="button" class="thumb_img_regi">파일 업로드</button>
        </div>
        <div class="product_ad_input">
          <p>상품명</p>
          <input type="text" name="" value="" placeholder="상품명">
        </div>
        <div class="product_ad_input">
          <p>가격</p>
          <input type="text" name="" value="" placeholder="0">
        </div>
        <div class="product_ad_select">
          <p>브랜드</p>
          <select>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div class="product_ad_select">
          <p>카테고리</p>
          <select>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div class="cs_input">
          <p>컬러 옵션</p>
          <div class="input_chk_box">
            <label>
              <input type="checkbox" name="" value="">
              <span>블랙</span>
            </label>
            <label>
              <input type="checkbox" name="" value="">
              <span>화이트</span>
            </label>
            <label>
              <input type="checkbox" name="" value="">
              <span>핫핑크</span>
            </label>
          </div>
        </div>
        <div class="cs_input">
          <p>사이즈 옵션</p>
          <div class="input_chk_box">
            <label>
              <input type="checkbox" name="" value="">
              <span>S</span>
            </label>
            <label>
              <input type="checkbox" name="" value="">
              <span>M</span>
            </label>
            <label>
              <input type="checkbox" name="" value="">
              <span>L</span>
            </label>
          </div>
        </div>
        <button type="submit" class="thumb_submit">상품 등록</button>
      </div>
    </div>
  </form>
</body>
</html>