<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="ad_rev_box">
    <h2>CATEGORY</h2>
    <select class="ad_rev_select">
      <option value="">최신순</option>
      <option value="">오래된순</option>
      <option value="">높은 가격순</option>
      <option value="">낮은 가격순</option>
    </select>
    <div class="contents_box">
      <div class="contents">
        <div class="ad_rev_del">
          <span></span>
          <span></span>
        </div>
        <img src="" alt="">
        <div class="bot">
          <div class="txt">
            <p>상품명 에베베</p>
            <p><span>24,000</span>원</p>
          </div>
          <button type="button" class="ad_rev_btn">수정</button>
        </div>
      </div>
      <div class="contents">
        <div class="ad_rev_del">
          <span></span>
          <span></span>
        </div>
        <img src="" alt="">
        <div class="bot">
          <div class="txt">
            <p>상품명 에베베</p>
            <p><span>24,000</span>원</p>
          </div>
          <button type="button" class="ad_rev_btn">수정</button>
        </div>
      </div>
      <div class="contents">
        <div class="ad_rev_del">
          <span></span>
          <span></span>
        </div>
        <img src="" alt="">
        <div class="bot">
          <div class="txt">
            <p>상품명 에베베</p>
            <p><span>24,000</span>원</p>
          </div>
          <button type="button" class="ad_rev_btn">수정</button>
        </div>
      </div>
      <div class="contents">
        <div class="ad_rev_del">
          <span></span>
          <span></span>
        </div>
        <img src="" alt="">
        <div class="bot">
          <div class="txt">
            <p>상품명 에베베</p>
            <p><span>24,000</span>원</p>
          </div>
          <button type="button" class="ad_rev_btn">수정</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>