<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="center_box">
    <h2>관리자 계정(admin123)</h2>
    <div class="admin_category">
      <a href="">상품 등록</a>
      <a href="">상품 수정 & 삭제</a>
      <a href="">룩북 게시물 관리</a>
      <a href="">Color, Size 추가</a>
    </div>
  </div>
</body>
</html>