<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="center_box">
    <div class="semi_title">
      <p><span>아이디123</span> 님의 장바구니</p>
    </div>
    <div class="all_chk">
      <label>
        <p>전체선택</p>
        <input type="checkbox" name="">
      </label>
    </div>
    <div class="cart_box">
      <div class="cart_contents">
        <div class="cart_img">
          <img src="" alt="">
        </div>
        <div class="cart_txt">
            <p>상품명 에베베</p>
            <p>
              <span>size</span>
              <span>M</span>
            </p>
            <p>
              <span>color</span>
              <span>white</span>
            </p>
          </div>
          <input type="checkbox" name="">
      </div>
      <div class="cart_contents">
        <div class="cart_img">
          <img src="" alt="">
        </div>
        <div class="cart_txt">
            <p>상품명 에베베</p>
            <p>
              <span>size</span>
              <span>M</span>
            </p>
            <p>
              <span>color</span>
              <span>white</span>
            </p>
          </div>
          <input type="checkbox" name="">
      </div>
    </div>
    <div class="cart_btn">
      <button type="button" class="cart_ch_chk">선택 상품 삭제</button>
      <button type="button" class="cart_all_chk">전체 상품 삭제</button>
    </div>
  </div>
</body>
</html>