<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="center_box">
    <div class="semi_title">
      <p><span>아이디123</span> 님의 POST</p>
    </div>
    <div class="post_m_contents">
      <a href="" class="contents">
        <img src="" alt="">
      </a>
      <a href="" class="contents">
        <img src="" alt="">
      </a>
      <a href="" class="contents">
        <img src="" alt="">
      </a>
    </div>
    <a href="">Read more</a>
    <div class="semi_title">
      <p><span>아이디123</span> 님의 REVIEW</p>
    </div>
    <div class="review_m_contents">
      <a href="" class="contents">
        <img src="" alt="">
        <div class="left">
          <div class="top">
            <p>user_id</p>
            <div class="star">
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
            </div>
            <span>4.0</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis doloribus recusandae, maxime beatae dolorem deleniti eligendi odit adipisci sunt voluptatem. Architecto facilis excepturi sapiente magnam, cupiditate vero maxime omnis?</p>
        </div>
      </a>
    </div>
    <a href="">Read more</a>
    <div class="semi_title">
      <p><span>아이디123</span> 님의 댓글</p>
    </div>
    <div class="reply_m_contents">
      <a href="" class="contents">
        <p>user_id</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi harum exercitationem provident tempora illum officia quae ab doloribus consequuntur rerum! Temporibus minima, repellat sunt reiciendis laboriosam magni itaque facilis ea.</p>
      </a>
    </div>
    <a href="">Read more</a>
</body>
</html>